* {
 margin: 0;
 padding: 0;
 color: white;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;
}

.main-container {
  height: 100%;
  width: 100%;
  background-image: url("./imgs/main.JPG");
  background-size: cover;
  background-position: center;
  display: flex;
}

.main-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.element-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.introduction-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: clamp(1.875rem, 2.34375vw, 4.8046875rem);
}

span {
  font-size: clamp(0.6875rem, 0.8593750000000001vw, 1.7617187500000002rem)
}
